.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
}

.NavBar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.NavBar a {
  color: #102851;
  text-decoration: none;
}
