.header {
  background: linear-gradient(
    81deg,
    #e7f0ff 9.01%,
    rgba(232, 241, 255, 0.47) 89.11%
  );
  padding: 0 4rem 10rem 4rem;
  position: relative;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 1;
}

.hero > div {
  width: 50%;
  position: relative;
  z-index: 1;
}

.hero > div:first-child {
  padding-top: 2rem;
}

.hero img {
  max-width: 100%;
  position: relative;
  z-index: 0;
}

.button {
  margin-top: 1rem;
}

.centerText {
  color: var(--color-theme);
}

.searchCityWrapper {
  width: 80vw;
  height: 350px;
  border-radius: 15px;
  background-color: #ce0606;
  margin: 1rem auto auto auto;
  position: relative;
  margin-top: -15rem; /* Adjust overlap */
  z-index: 99;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: adds depth */
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 1rem;
  }

  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero > div {
    width: 100%;
  }

  .hero img {
    position: static;
    margin: 0 auto;
    max-width: 100%;
  }

  .searchCityWrapper {
    width: 100vw;
    margin: 0;
    padding: 1rem;
    border-radius: 0; /* Remove border-radius for edge-to-edge design */
  }
}

.findSpecialisationWrapper {
  display: flex;
  flex-wrap: wrap; /* Improves responsiveness */
  justify-content: center; /* Centers content on smaller screens */
  margin-top: 30px;
}
