
.inputWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.select {
    padding: 10px;    
}

.cityName{
    font-size: 1.4em;
    font-weight: 700;
}